openapi: 3.0.3

info:
  title: API de Produtos
  description: Produtos de Venda da Empresa X
  termsOfService: http://swagger.io/terms
  contact:
    email: fatec@fatecfranca.edu.br
  license:
    name: Apache 2.0
    url: http://swagger.io/terms
  version: 1.0.0

servers:
  - url: http://sistema-compass-homolog.com.br
    description: Servidor de homologação
  - url: https://sistema-compass.com.br
    description: Servidor de produção

paths:
  /produtos:
    get:
      summary: Listar produtos
      description: Retorna uma lista de produtos cadastrados. Permite filtrar por nome e categoria.
      tags:
        - Produtos
      parameters:
        - name: nome
          in: query
          description: Nome ou parte do nome do produto para filtrar.
          required: false
          schema:
            type: string
            example: Produto
        - name: categoria
          in: query
          description: Categoria do produto para filtrar.
          required: false
          schema:
            type: string
            example: Eletrônicos
      responses:
        '200':
          description: Lista de produtos retornada com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Produto'
        '500':
          description: Erro interno no servidor.

    post:
      summary: Criar um novo produto
      description: Adiciona um novo produto ao banco de dados.
      tags:
        - Produtos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Produto'
      responses:
        '201':
          description: Produto criado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Produto'
        '400':
          description: Requisição inválida.
        '500':
          description: Erro interno no servidor.

  /produtos/{id}:
    get:
      summary: Consultar produto por ID
      description: Retorna os detalhes de um produto específico pelo ID.
      tags:
        - Produtos
      parameters:
        - name: id
          in: path
          description: ID do produto.
          required: true
          schema:
            type: string
            example: 12345
      responses:
        '200':
          description: Detalhes do produto retornados com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Produto'
        '404':
          description: Produto não encontrado.
        '500':
          description: Erro interno no servidor.

    put:
      summary: Atualizar produto
      description: Atualiza os dados de um produto existente pelo ID.
      tags:
        - Produtos
      parameters:
        - name: id
          in: path
          description: ID do produto.
          required: true
          schema:
            type: string
            example: 12345
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Produto'
      responses:
        '204':
          description: Produto atualizado com sucesso.
        '400':
          description: Requisição inválida.
        '500':
          description: Erro interno no servidor.

    delete:
      summary: Deletar produto
      description: Remove um produto pelo ID.
      tags:
        - Produtos
      parameters:
        - name: id
          in: path
          description: ID do produto.
          required: true
          schema:
            type: string
            example: 12345
      responses:
        '204':
          description: Produto removido com sucesso.
        '404':
          description: Produto não encontrado.
        '500':
          description: Erro interno no servidor.

components:
  schemas:
    Produto:
      type: object
      properties:
        id:
          type: string
          example: "12345"
        nome:
          type: string
          example: "Produto Exemplo"
        descricao:
          type: string
          example: "Uma breve descrição do produto."
        categoria:
          type: string
          example: "Eletrônicos"
        marca:
          type: string
          example: "Marca Exemplo"
        preco:
          type: number
          example: 199.99
        quantidadeEstoque:
          type: integer
          example: 50
        codigoBarras:
          type: string
          example: "7891234567890"
        dimensoes:
          type: object
          properties:
            altura:
              type: number
              example: 10.0
            largura:
              type: number
              example: 20.0
            profundidade:
              type: number
              example: 5.0
            unidadeMedida:
              type: string
              example: "cm"
        peso:
          type: object
          properties:
            valor:
              type: number
              example: 1.5
            unidadeMedida:
              type: string
              example: "kg"
        status:
          type: string
          example: "ativo"
        dataCadastro:
          type: string
          format: date-time
          example: "2024-11-22T14:00:00Z"
